html {
	height: 100%;
}

body {
	overflow-x: hidden;
	height: 100%;
}

#nav_bar {
	height: 40px;
	background: linear-gradient(#E0E0E0, #FFFFFF, #E0E0E0);
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	margin-left: 0;
}

.nav_item {
	text-align: center;
	height: 38px;
	padding-top: 9px;
}

.selected_nav_item {
	background: linear-gradient(#D5D5D5, #B9B9B9, #D5D5D5);
}

.nav_title {
	font-weight: bold;
	color: #1111FF;
}

#header {
	height: 200px;
	background: #020401;
}

#header_img {
	position: absolute;
}

#leftbar {
	padding: 20px 20px 0 0;
	margin-bottom: 0;
	background: #DFDFDF;
}

.thumb_img_container { height: 50px; }
.thumb_img {
	position: relative;
	height: 100%
}